{% extends "base.html" %}

{% set active_page = 'index' %}
{% block title %}Display Web App - 实时监控{% endblock title %}

{% block head %}
    {{ super() }}
    <!-- 蓝鲸提供的公用样式库，包括公用的元素样式和组件样式，像基本按钮、表格、表单、导航 -->
    <link href="https://o.qcloud.com/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
{% endblock head %}

{% block page_header %}
    实时监控
{% endblock page_header %}

{% block page_content %}
    <div class="row charts">
        <div class="col-md-6">
            <div class="king-block king-block-bordered mb20">
                <div class="king-block-header">
                    <div class="king-block-title">
                        计算版资源概览
                    </div>
                </div>
                <div class="king-block-content">
                    <div class="chart k-chart" data-role="chart" style="position: relative;">
                        <div class="table-responsive">
                            <table id="calBoard-table" class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                    <th>编号</th>
                                    <th>DSP1</th>
                                    <th>DSP2</th>
                                    <th>FPGA-可用逻辑单元/个</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cb in calBoards %}
                                        {% if cb.existing %}
                                            <tr>
                                                <td>{{ cb.name }}</td>
                                                <td {% if cb.dsp1_isIdle() %}class="success"{% else %}class="danger"{% endif %}>
                                                    {% if cb.dsp1_isIdle() %}空闲{% else %}工作{% endif %}
                                                </td>
                                                <td {% if cb.dsp2_isIdle() %}class="success"{% else %}class="danger"{% endif %}>
                                                    {% if cb.dsp2_isIdle() %}空闲{% else %}工作{% endif %}
                                                </td>
                                                <td class="info">{{ cb.fpga_extra }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        <div class="col-md-6">#}
{#            <div class="king-block king-block-bordered mb20">#}
{#                <div class="king-block-header">#}
{#                    <div class="king-block-title">#}
{#                        存储版资源概览#}
{#                    </div>#}
{#                </div>#}
{#                <div class="king-block-content">#}
{#                    <div class="chart k-chart" data-role="chart" style="position: relative;">#}
{#                        <div class="king-widget8" style="border: none;">#}
{#                            <div class="pb10 widget-header">#}
{#                                <span><strong>总容量</strong></span>#}
{#                                <span class="text-muted">20T</span>#}
{#                                <span class="fr">#}
{#                                     <div class="widget-item col-md-6 col-xs-6">#}
{#                                        <span class="widget-icon progress-bar-danger"> </span> 已用#}
{#                                    </div>#}
{#                                    <div class="widget-item col-md-6 col-xs-6">#}
{#                                        <span class="widget-icon progress-bar-success"> </span> 未用#}
{#                                    </div>#}
{#                                </span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="table-responsive">#}
{#                            <table class="table table-bordered table-hover">#}
{#                            <thead>#}
{#                                <tr>#}
{#                                    <th>编号</th>#}
{#                                    <th>使用情况</th>#}
{#                                </tr>#}
{#                            </thead>#}
{#                            <tbody>#}
{#                                {% for sb in storeBoards %}#}
{#                                    {% set used_percent = sb.used * 100 // sb.capacity %}#}
{#                                    {% set left_percent = 100 - used_percent %}#}
{#                                    <tr>#}
{#                                        <td style="width: 10%;">{{ sb.name }}</td>#}
{#                                        <td>#}
{#                                            <div class="progress">#}
{#                                                <div class="progress-bar progress-bar-danger" style="width: {{ used_percent }}%;">{{ used_percent }}%</div>#}
{#                                                <div class="progress-bar progress-bar-success" style="width: {{ left_percent }}%;">{{ left_percent }}%</div>#}
{#                                            </div>#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                {% endfor %}#}
{#                            </tbody>#}
{#                        </table>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="col-md-6">
            <div class="king-block king-block-bordered mb20">
                <div class="king-block-header">
                    <div class="king-block-tile">
                        存储版资源概览
                    </div>
                </div>
                <div class="king-block-content">
                    <div id="strb-chart-pie" class="chart k-chart" data-role="chart" style="position:relative;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row charts">
        <div class="col-lg-12">
            <div class="king-block king-block-bordered mb20">
                <div class="king-block-header">
                    <div class="king-block-title">
                        主控板资源概览-1
                    </div>
                </div>
                <div class="king-block-content">
                    <div id="ctrlb-chart-area-1" class="chart k-chart" data-role="chart" style="position: relative;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row charts">
        <div class="col-lg-12">
            <div class="king-block king-block-bordered mb20">
                <div class="king-block-header">
                    <div class="king-block-title">
                        主控板资源概览-2
                    </div>
                </div>
                <div class="king-block-content">
                    <div id="ctrlb-chart-area-2" class="chart k-chart" data-role="chart" style="position: relative;">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block scripts %}
{{ super() }}
    <script>
    $(document).ready(function () {
        {% set ctrlbDatas = controlBoardsSplit[0] %}
    //<!-- 存储版饼状图
        var center_x = 14;
         // 1. 基于准备好的dom，初始化echarts实例
        var strbChartPie = echarts.init($('#strb-chart-pie')[0]);
        // 2. 指定图表的配置项和数据
        var strbOption = {
            title: {
                text: '存储版资源使用情况',
                subtext: '总容量： 20T',
                x: 'center',
                padding: [20, 5, 10, 5]    //上 右 下 左
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} {b} :{d}%',
                textStyle: {
                    fontSize: 14
                }
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: ['已用', '未用'],
                padding: [20, 5, 10, 5]    //上 右 下 左
            },
            toolbox: {
                show: false
            },
            grid: [
                {x: 'center', y: '25%', width: '96%', height: '50%'},
            ],
            xAxis: [
                {
                    gridIndex: 0,
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true
                    },
                    data: [
                        {
                            value: 'sb1',
                            textStyle: {
                                fontWeight: 'bold',
                                fontSize: 14
                            }
                        },
                        {
                            value: 'sb2',
                            textStyle: {
                                fontWeight: 'bold',
                                fontSize: 14
                            }
                        },
                        {
                            value: 'sb3',
                            textStyle: {
                                fontWeight: 'bold',
                                fontSize: 14
                            }
                        },
                        {
                            value: 'sb4',
                            textStyle: {
                                fontWeight: 'bold',
                                fontSize: 14
                            }
                        }
                    ]
                }
            ],
            yAxis: [
                {
                    gridIndex: 0,
                    name: '编号',
                    show: false
                },
            ],
            series: [
                // 设置四个饼状图中第一个的圆心 x 的坐标值
                {% for sb in storeBoards %}
                    {
                        name: '',
                        type: 'pie',
                        radius: '24%',
                        center: [ center_x + '%', '57%'],
                        data: [
                            {value: {{ (sb.used / 1024) | round(1) }}, name: '已用'},
                            {value: {{ ((sb.left) / 1024) | round(1) }}, name: '未用'},
                        ],
                        label: {
                            normal: {
                                position: 'inner',
                                formatter: '{c}T',
                                textStyle: {
                                    color: '#ffffff',
                                    fontSize: 14
                                }
                            }
                        },
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    },
                    center_x += 24,
                {% endfor %}
            ],
            color: ['#fa827d', '#51b8fe', '#59c5a7']
        };
        // 3. 使用指定的配置项和数据显示图表
        strbChartPie.setOption(strbOption);
    //存储版饼状图 -->
    //<!-- 计算版堆叠区域图 chart-area-1
        var ctrlb_legend_data = [];
        var ctrlb_series_data = {};
        var ctrlb_xAxis_data = [];
        {% for name, data in ctrlbDatas.items() %}
            ctrlb_legend_data.push('{{ name }}');
            ctrlb_series_data['{{ name }}'] = {{ data }};
        {% endfor %}
        console.log('cpu_user: ' + ctrlb_series_data['cpu_user']);
        console.log('cpu_system: ' + ctrlb_series_data['cpu_system']);
        ctrlb_xAxis_data = {{ controlBoardsSplit[1]|safe }}
        // 1. 基于准备好的dom，初始化echarts实例
        var ctrlbChartArea = echarts.init($('#ctrlb-chart-area-1')[0]);
        // 2. 指定图表的配置项和数据
        var ctrlbOption = {
            title: {
                text: '主控板CPU资源占用',
                x: 'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                }
            },
            legend: {
                top: 30,
                orient: 'horizontal',//'vertical',
                x: 'center',//'left',
                data: ctrlb_legend_data,
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            grid: {
                left: '1%',
                right: '1%',
                bottom: '1%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: ctrlb_xAxis_data,
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}%'
                    }
                }
            ],
            series: [
                {% for name, data in ctrlbDatas.items() %}
                    {
                        name: '{{ name|safe }}',
                        type: 'line',
                        stack: '总量',
                        areaStyle: {normal: {}},
                        data: {{ data }}
                    },
                {% endfor %}
            ],
        color: ['#7bcce4', '#ffbea7', '#7cc67c']  //cpu_system cpu_user cpu_idle
        };
        // 3. 使用指定的配置项和数据显示图表
        ctrlbChartArea.setOption(ctrlbOption);
    //当窗口大小改变时，重新绘制存储版饼状图和计算版堆叠区域图 chart-area-1
        window.onresize = function() {
            ctrlbChartArea.resize();
            console.log('ctrlbChartArea is resizing...');
            strbChartPie.resize();
            console.log('strbChartPie is resizing...');
        };
    //计算版堆叠区域图 chart-area-1 -->
    //<!-- 计算版区域图 chart-area-2
        var ctrlb_cpu_user_data = [];
        var ctrlb_cpu_sys_data = [];
        var ctrlb_cpu_idle_data = [];
        var ctrlb_categories = [];
        ctrlb_cpu_user_data = {{ ctrlbDatas['cpu_user'] }};
        ctrlb_cpu_sys_data = {{ ctrlbDatas['cpu_system'] }};
        ctrlb_cpu_idle_data = {{ ctrlbDatas['cpu_idle'] }};
        ctrlb_categories = {{ controlBoardsSplit[1]|safe }}
        function createChart(conf){
            $(conf.selector).kendoChart({
                title: {
                    text: conf.title
                },
                //transitions: false,
                legend: {
                    position: 'top'
                },
                theme: 'bootstrap',
                seriesDefaults: {
                    type: conf.type,
                    style: 'smooth'
                },
                series: conf.data,
                valueAxis: {
                    labels: {
                        format: "{0}%"
                    },
                    line: {
                        visible: false
                    },
                    //axisCrossingValue: -10
                },
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    categories: conf.categories,
                    labels: {
                        rotation: 'auto'
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0}%",
                    template: "#= series.name #: #= value #"
                }
            });
            //重新绘制
            $(window).on('resize', function () {
                var chart = $(conf.selector).data('kendoChart');
                chart.redraw();
                console.log('kendoChart is resizing...')
            });
        };
        createChart({
            selector: '#ctrlb-chart-area-2',    // 图表窗器
            title: "主控板CPU资源占用",   // 图表标题
            type: 'area',   // 图表类型
            data: [
                {% set ctrlbDatas = controlBoardsSplit[0] %}
                {% for name, data in ctrlbDatas.items() %}
                    {
                        name: '{{ name }}',   //cpu 占用率类型
                        data: {{ data }}      //cpu 占用率
                    },
                {% endfor %}
                /*{
                    name: 'India',
                    data: [3.907, 7.943, 7.848, 9.284, 9.263, 9.801, 3.890, 8.238, 9.552, 6.855]
                },
                {
                    name: "World",
                    data: [1.988, 2.733, 3.994, 3.464, 4.001, 3.939, 1.333, -2.245, 4.339, 2.727]
                },
                {
                    name: "Haiti",
                    data: [-0.253, 0.362, -3.519, 1.799, 2.252, 3.343, 0.843, 2.877, -5.416, 5.590]
                },*/
            ],
            categories: {{ controlBoardsSplit[1]|safe }}  //时间戳
            //categories: [2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011]
        });
    //计算版区域图 chart-area -->
    //设置定时器，定时执行 Ajax 请求，刷新当前实时监控页面数据
        var refresh = setInterval(refreshIndex, 10000);  //每 10s 刷新一次
        function refreshIndex() {
            $.ajax({
                url: $SCRIPT_ROOT + '/index_deal',
                type: 'GET',
                dataType: 'json',
            }).done(function (res) {
                if(res['calbDatas']) {
                    var datas = res['calbDatas'];
                    var tablebody = '';
                    for (var data of datas) {
                        tablebody += '<tr>';
                        var calbName = data['name'];
                        tablebody += '<td>' + calbName + '</td>';
                        var dsp1Idle = data['dsp1_idle'];
                        if (dsp1Idle) {
                            tablebody += '<td class="success">' + '空闲' + '</td>';
                        } else {
                            tablebody += '<td class="danger">' + '工作' + '</td>';
                        }
                        var dsp2Idle = data['dsp2_idle'];
                        if (dsp2Idle) {
                            tablebody += '<td class="success">' + '空闲' + '</td>';
                        } else {
                            tablebody += '<td class="danger">' + '工作' + '</td>';
                        }
                        var fpga_extra = data['fpga_extra'];
                        tablebody += '<td class="info">' + fpga_extra + '</td>';
                        tablebody += '</tr>';
                    };
                    $('#calBoard-table tbody')[0].innerHTML = tablebody;
                };
                if(res['strbDatas']) {
                    var datas = res['strbDatas'];
                    //console.log('页面在定时刷新!');
                    //console.log(res[0]['data'][0]['name'] + res[0]['data'][0]['value']);
                    strbChartPie.setOption({
                        series: datas,
                    });
                }
                if(res['ctrlbDatas_1']) {
                    var datas = res['ctrlbDatas_1'];
                    console.log('页面在定时刷新!');
                    //console.log(ctrlb_series_data['cpu_user']);
                    console.log('cpu_user: ' + ctrlb_series_data['cpu_user']);
                    console.log('cpu_system: ' + ctrlb_series_data['cpu_system']);
                    ctrlb_series_data['cpu_user'].push(datas['cpu_user']);
                    ctrlb_series_data['cpu_system'].push(datas['cpu_system']);
                    ctrlb_series_data['cpu_idle'].push(datas['cpu_idle']);
                    ctrlb_xAxis_data.push(datas['category']);
                    ctrlb_series_data['cpu_user'].shift();
                    ctrlb_series_data['cpu_system'].shift();
                    ctrlb_series_data['cpu_idle'].shift();
                    ctrlb_xAxis_data.shift();
                    var series = [
                        {
                            name: 'cpu_user',
                            data: ctrlb_series_data['cpu_user']
                        },
                        {
                            name: 'cpu_system',
                            data: ctrlb_series_data['cpu_system']
                        },
                        {
                            name: 'cpu_idle',
                            data: ctrlb_series_data['cpu_idle']
                        }
                    ];
                    ctrlbChartArea.setOption({
                        xAxis: {
                            data: ctrlb_xAxis_data,
                        },
                        series: series
                    })
                };
                if(res['ctrlbDatas_2']){
                    var datas = res['ctrlbDatas_2'];
                    //console.log('页面在定时刷新!');
                    ctrlb_cpu_user_data.push(datas['cpu_user']);
                    ctrlb_cpu_sys_data.push(datas['cpu_system']);
                    ctrlb_cpu_idle_data.push(datas['cpu_idle']);
                    ctrlb_categories.push(datas['category']);
                    ctrlb_cpu_user_data.shift();
                    ctrlb_cpu_sys_data.shift();
                    ctrlb_cpu_idle_data.shift();
                    ctrlb_categories.shift();
                    //console.log(ctrlb_categories)
                    //更新主控板数据
                    var ctrlb_chart_area_2 = $('#ctrlb-chart-area-2').data('kendoChart');
                    ctrlb_chart_area_2.options.series = [
                        {
                            name: 'cpu_user',
                            data: ctrlb_cpu_user_data
                        },
                        {
                            name: 'cpu_system',
                            data: ctrlb_cpu_sys_data
                        },
                        {
                            name: 'cpu_idle',
                            data: ctrlb_cpu_idle_data
                        }
                    ];
                    ctrlb_chart_area_2.options.categoryAxis.categories = ctrlb_categories;
                    ctrlb_chart_area_2.refresh();
                };
            })
        };
    })
    </script>
{% endblock scripts %}