{% extends "base_old.html" %}

{% set active_page = 'monitoring' %}
{% block title %}Display Web App - 实时监控{% endblock %}

{% block head %}
{{ super() }}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename="styles.css") }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename="monitoring_new.css") }}">
{% endblock %}

<!-- 页面内容，相当于html中的 <body> 标签 -->
{% block content %}
<!-- 为页面内容和栅格系统包裹的 .container 容器 -->
<div id="block-flash" class="container-fluid body">
    <!-- 在基模板中渲染 Flash 消息，这样所有的页面都能使用这些消息。Flask 把 get_flashed_message() 函数开放给模板，用来获取并渲染消息 -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <!-- 通过使用一个象征关闭的图标，可以让警告框消失 -->
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
</div>
{% block page_content %}
<div id="wrapper" class="body">
        <ul class="nav navbar-nav side-nav">
            {% set navigation_sidebar = [
                (url_for('main.monitoring_cal'), 'monitoring_cal', '计算板', 'glyphicon glyphicon-tasks'),
                (url_for('main.monitoring_store'), 'monitoring_store', '存储版', 'glyphicon glyphicon-hdd'),
                (url_for('main.monitoring_control'), 'monitoring_control', '控制板', 'glyphicon glyphicon-dashboard')
            ] %}
            {% set active_sidebar_page = active_sidebar_page|default('main.monitoring_cal') %}
            {% for href, id, caption, icon_class in navigation_sidebar %}
                <li {% if active_sidebar_page == id %}class="active"{% endif %}>
                    <a href="{{ href|e }}"><span class="{{ icon_class }}"></span>&nbsp;&nbsp;{{ caption|e }}</a>
                </li>
            {% endfor %}
        </ul>
    <div id="page-wrapper" class="body">
        {% block main_content %}{% endblock %}
    </div>
</div>
{% endblock %}
{% endblock %}
